body {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(20,30,40);
    color: aliceblue;
}

.title {
    margin-top: 10px;
    font-size: xx-large;
    color: cyan;
}
.game-box {
    border: solid 3px cyan;
    height: 300px;
    width: 300px;
    background-color: rgb(25, 35, 45);
    background-color: cyan ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2px;
}

.box {
    background-color: rgb(20,30,40);
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}

#result {
    margin: 10px;
    font-size: xx-large;
}

#restart {
    background-color: rgb(156, 98, 16);
    font-size: medium;
    color: aliceblue;
    border-radius: 10px;
    height: 24px;
    width: 115px;
}

#restart:hover {
    background-color: rgb(16, 77, 77);
    height: 25px;
    width: 120px;
}